.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #aaa #f1f1f1;
}
